:root {
  --color-primary: #39c9bb;
  --color-primary-light: #79e9de;
  --color-secondary: #ffa500;
  --color-accent: #E0E0E0;
  --color-neutral-beige: #e2e2e2;
  --color-whatever: #000;

  --font-primary: "Multi", sans-serif;
  --font-secondary: "Multi", sans-serif;
}

html {
  font-family: var(--font-primary);
}
