:root {
  --color-primary: #79e9de;
  --color-primary-light: #c5f5f0;
  --color-secondary: #fafafa;
  --color-secondary-dark: #2c9c91;
  --color-dark: #000;
  --color-accent: #FFA500;
  --color-text: #fff;

  --font-secondary: "Multi", sans-serif;
  --font-primary: "Crimson Text", serif;
}

.font-primary {
  font-family: var(--font-primary);
}
/* @utility Apply the secondary typeface */

.font-secondary {
  font-family: var(--font-secondary);
}

/* @utility Apply a light background colour to an element */
.section-light {
  background-color: var(--color-secondary-light);
}

/* @utility Apply a dark background colour to an element */
.section-dark {
  background-color: var(--color-secondary-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

ul, ol {
  list-style-type: none;
  color: var(--color-dark);
}

dt {
  font-weight: bold;
  color: var(--color-dark);
}

dl, dd {
  font-weight: normal;
  color: var(--color-dark);
}

a {
  color: var(--color-accent);
}

blockquote, cite {
  font-style: normal;
}

mark {
  background-color: var(--color-text)
}
