.products-filter {
  border-color: var(--color-primary-dark);
  border-radius: 12px;
}

ul {
  background-color: var(--color-primary-dark);
}

a {
  text-decoration: none;}

li {
  font-family: var(--font-secondary);
}

h2 {
  color: var(--color-primary-dark);
}

p {
  font-family: var(--font-secondary);
}

.image-and-text-1 {
  background: url('../images/soap-background.jpg');
  background-color: rgba(255, 168, 0, 10);
}

.image-and-text-2 {
  background: url('../images/candle-background.jpg');
  background-color: rgba(255, 168, 0, 10);
}

.image-and-text-text {
  color: var(--color-text);
}
