<header role="header" class="header masthead">
  <a href="/" class="logo block peta color-dark font-dark">

  <div class="text-center">
    <i class="icon i-128">
      <img class="img-flex embed embed-item" src="/images/logo.svg" alt="coze-logo">
    </i>
</div>

  <nav role="navigation"id="nav" tabindex="0">
    <ul class=" nav list-group push-0 center-content grid">

      <li class="gutter-1-5 {% if page.highlight_nav == 'home' %}current{% endif %} unit xs-1 s-1 m-1-5 l-1-5 island">
        <a href="/">Home</a>
      </li>

      <li class="unit xs-1 s-1 m-1-5 l-1-5">/</li>

      <li class="{% if page.highlight_nav == 'products' %}current{% endif %} gutter-1-2 unit xs-1 s-1 m-1-5 l-1-5"><a class="li" href="/products/">Products</a>
      </li>

      <li class="unit xs-1 s-1 m-1-5 l-1-5">/</li>

      <li class="gutter-1-2 {% if page.highlight_nav == 'contact' %}current{% endif %} unit xs-1 s-1 m-1-5 l-1-5"><a class="li" href="adopt.html">Contact</a> </li>
    </ul>

  </nav>
</header>
