.masthead {
  background-color: var(--color-primary-light);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.header {
    color: var(--color-primary-dark);
}

.footer {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  margin: 0;
  width: 100%;
}

p {
  color: var(--color-text);
}

.nav {
  background-color: var(--color-primary-light);
}

nav a:hover {
  color: var(--color-text);
}
