<header role="header" class="header masthead">
  <a href="/" class="logo block peta color-dark font-dark">

    <div class="text-center">
      <i class="icon i-128">
        <img class="img-flex embed embed-item" src="/images/logo.svg" alt="coze-logo">
      </i>
    </div>

      <nav role="navigation" id="nav" tabindex="0">
        <ul class="nav list-group">

          <li class="{% if page.highlight_nav == 'home' %}current{% endif %}">
            <a class="header island" href="/">Home</a>
          </li>

          <li class="{% if page.highlight_nav == 'products' %}current{% endif %}"><a class="header island" href="/products">Products</a>
          </li>

          <li class="{% if page.highlight_nav == 'contact' %}current{% endif %}"><a class="header island" href="contact.html">Contact</a> </li>


          <li class="{% if page.highlight_nav == 'cart' %}current{% endif %}"><a class="header island" href="/checkout-form"><i class="icon i-32"><svg><use xlink:href="/images/icons.svg#cart"> </svg></i></a> </li>
          </ul>

        </nav>
    </header>
