.btn {
  background-color: var(--color-accent);
  border-style: none;
  color: var(--color-text);
  font-family: var(--font-secondary);
}

.btn:hover {
  background-color: var(--color-dark);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-dark);
  border: 3px solid var(--color-accent);
}

.btn-ghost:hover {
  color: var(--color-accent);
  background-color: var(--color-dark);
}

.btn-light {
  background-color: var(--color-accent);
}
