.catagory-card {
  border-style: none;
  border-radius: 6px;
  max-width: 20rem;
  min-height: 25rem;
  color: var(--color-dark);
}

.product-card {
  margin: 0;
  border-style: none;
  padding: .75rem;
  border-width: 3px;
  border-color: var(--color-secondary-dark);
  background-color: var(--color-dark);
  border-radius: 8px;
  max-width: 20rem;
  background-color: var(--color-primary-light);
  color: var(--color-dark);
  text-align: center;
  display: inline-block;
}

.checkout-card {
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-secondary-dark);
  background-color: var(--color-dark);
  border-radius: 6px;
  max-width: 15rem;
  min-height: 33rem;
  background-color:
  color: var(--color-dark);
  text-align: center;
}

a {
  var(--color-dark);
}
