h1 {
  color: var(--color-text);
}

.p-banner {
  color: var(--color-text);
}
p {
  color: var(--color-dark);
}

.btn {
  color: var(--color-text);
}


.img-flex {
  display: block;
  width: 100%;
}

.banner {
  overflow: hidden;
  position: relative;
  max-height: 470px;
}

.banner-content {
  position: absolute;
  left: .008em;
  bottom: .4em;
  color: var(--color-dark);
  background-color: var(--color-secondary-dark);
}

@media only screen and (min-width: 40em) {

  .banner-content {
    left: 1em;
    bottom: 1em;
    border-radius: 8px;
  }

}
